<!--
	Local helpers
-->
<% block('localCSS', '<link rel="stylesheet" href="/plugins/datatables/datatables.min.css">') %>
<% block('localScripts', '<script src="/plugins/datatables/datatables.min.js"></script>') %>
<% block('localScripts', '<script src="/i6/i6.js"></script>') %>

<div class="row">
	<div class="col-md-12">
		<div class="box">
			<div class="box-body">
			<table id="example" class="display i6-crud" cellspacing="0" width="100%">
		        <thead>
		            <tr>
		                <th data-src="name">Name</th>
		                <th data-src="description">Description</th>
		                <th >Action</th>
		            </tr>
		        </thead>
		        <tbody>
		        </tbody>
		    </table>
			</div>			
		</div>		
	</div>
</div>


