<!--
	Local helpers
-->
<% block('localCSS', '<link rel="stylesheet" href="/plugins/datatables/datatables.min.css">') %>
<% block('localScripts', '<script src="/plugins/datatables/datatables.min.js"></script>') %>
<% block('localScripts', '<script src="/i6/i6.js"></script>') %>

<div class="row">
	<div class="col-md-12">
		<div class="box">
			<div class="box-body">
			<table id="example" class="display i6-crud" cellspacing="0" width="100%">
		        <thead>
		            <tr>
		                <th data-src="name">Name</th>
		                <th data-src="description">Description</th>
		                <th >Action</th>
		            </tr>
		        </thead>
		        <!-- <tfoot>
		            <tr>
		                <th>Name</th>
		                <th>Device</th>
		                <th>Address</th>
		                <th>Action</th>
		            </tr>
		        </tfoot> -->
		        <tbody>
		        </tbody>
		    </table>
			</div>			
		</div>		
	</div>
</div>


<!-- Modal untuk menampilkan detail -->
<div class="modal fade" id="modal-detail" role="dialog">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
		<div class="col-md-12 well">
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  <h3 style="display:block; text-align:center;"><i class="fa fa-info-circle"></i> Detail Tag </h3>

		  <div class="box box-body">
				<ul class="nav nav-stacked">
					<li>Name <span class="pull-right" i6detail="name"></span></li>
					<li>Description <span class="pull-right" i6detail="description"></span></li>
				</ul>
		  </div>

		  <div class="text-right">
		    <!-- <button class="btn btn-warning" data-dismiss="modal"> Edit</button> -->
		    <button class="btn btn-default" data-dismiss="modal"> Close</button>
		  </div>
		</div>
    </div>
  </div>
</div>
<!-- /Modal untuk menampilkan detail -->


<!-- Modal untuk edit data -->
<div class="modal fade" id="modal-edit" role="dialog">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
		<div class="col-md-12 well">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h3 style="display:block; text-align:center;"><i class="fa fa-edit"></i> Edit Tag </h3>
			<div class="box">
		    	<form class="form-horizontal" id="form-update">
					<div class="box-body">
						<div class="form-group">
							<label for="name" class="col-sm-3 control-label">Name</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="name" placeholder="Device Name">
							</div>
						</div>

						<div class="form-group">
							<label for="type" class="col-sm-3 control-label">Description</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="description" placeholder="I/O Device">
							</div>
						</div>
					</div>
					<!-- /.box-body -->
					<div class="box-footer">
						<button type="submit" class="btn btn-info pull-right">Save</button>
					</div>
					<!-- /.box-footer -->
				</form>
			</div>
		</div>
    </div>
  </div>
</div>
<!-- /Modal untuk edit data -->


