<div class="title"><i class="fa fa-plus"></i> Add New Driver</div>
<form class="form-horizontal" id="form-crud" method="POST">
	<div class="box-body">
		<!-- Name -->
		<div class="form-group">
			<label for="name" class="col-sm-3 control-label">Name</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" name="name" placeholder="Device Name">
			</div>
		</div>
		<!-- /Name -->

		<!-- Driver Code -->
		<div class="form-group">
			<label for="code" class="col-sm-3 control-label">Driver Code</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" name="code" placeholder="Device Name">
			</div>
		</div>
		<!-- /Driver Code -->

		<!-- Description -->
		<div class="form-group">
			<label for="description" class="col-sm-3 control-label">Description</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" name="description" placeholder="Description">
			</div>
		</div>
		<!-- /Description -->

	</div>
	<!-- /.box-body -->

	<!-- Submit button -->
	<div class="box-footer">
		<button type="submit" class="btn btn-info pull-right">Save</button>
	</div>
	<!-- /.box-footer -->
</form>